Repository NHSISL/ISL.Providers.Storages, pull requests merged in 2024-12, with the labels that each got.

#35 PROVIDERS: AzureBlobStorage RetrieveAllContainers
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Exceptions.RetrieveAllContainers.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Logic.RetrieveAllContainers.cs
  ISL.Providers.Storages.AzureBlobStorage/Providers/AzureBlobStorage/AzureBlobStorageProvider.cs
Labels: PROVIDERS

#36 FOUNDATIONS: Storages DeleteContainerAsync
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Exceptions.DeleteContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Logic.DeleteContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Validations.DeleteContainer.cs
  ISL.Providers.Storages.AzureBlobStorage/Brokers/Storages/Blobs/BlobStorageBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/Brokers/Storages/Blobs/IBlobStorageBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/IStorageService.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/StorageService.cs
Labels: FOUNDATIONS

#37 PROVIDERS: AzureBlobStorage DeleteContainer
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Exceptions.DeleteContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Logic.DeleteContainer.cs
  ISL.Providers.Storages.AzureBlobStorage/Providers/AzureBlobStorage/AzureBlobStorageProvider.cs
Labels: changes requested, PROVIDERS

#33 ACCEPTANCE: AzureBlobStorage CreateFile
  .github/workflows/build.yml
  .gitignore
  ISL.Providers.Storages.Abstractions.Tests.Acceptance/ISL.Providers.Storages.Abstractions.Tests.Acceptance.csproj
  ISL.Providers.Storages.Abstractions.Tests.Unit/ISL.Providers.Storages.Abstractions.Tests.Unit.csproj
  ISL.Providers.Storages.Abstractions/ISL.Providers.Storages.Abstractions.csproj
  ISL.Providers.Storages.Abstractions/IStorageOperations.cs
  ISL.Providers.Storages.Abstractions/StorageAbstractionProvider.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.CreateFiles.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance.csproj
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/appsettings.json
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/ISL.Providers.Storages.AzureBlobStorage.Tests.Unit.csproj
  ISL.Providers.Storages.AzureBlobStorage/Brokers/Storages/Blobs/BlobStorageBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/ISL.Providers.Storages.AzureBlobStorage.csproj
  ISL.Providers.Storages.AzureBlobStorage/Models/AzureBlobStoreConfigurations.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/StorageService.cs
  ISL.Providers.Storages.Infrastructure/ISL.Providers.Storages.Infrastructure.csproj
  ISL.Providers.Storages.Infrastructure/Program.cs
  ISL.Providers.Storages.Infrastructure/Services/ScriptGenerationService.cs
Labels: ACCEPTANCE

#38 ACCEPTANCE: AzureBlobStorage RetrieveFile
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.CreateFile.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.RetrieveFile.cs
Labels: ACCEPTANCE

#40 ACCEPTANCE: AzureBlobStorage CreateContainer
  ISL.Providers.Storages.Abstractions/IStorageOperations.cs
  ISL.Providers.Storages.Abstractions/StorageAbstractionProvider.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.CreateContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.ListFilesInContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.cs
Labels: ACCEPTANCE

#43 ACCEPTANCE: AzureBlobStorage RetrieveAllAccessPolicies
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.CreateAndAssignAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.RetrieveAllAccessPoliciesFromContainer.cs
Labels: ACCEPTANCE

#45 FOUNDATIONS: AzureBlobStorage RetrieveAccessPolicyByName
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Exceptions.RetrieveAccessPolicyByName.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Logic.ConvertToPermissionsList.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Logic.RetrieveAccessPolicyByName.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Validations.RetrieveAccessPolicyByName.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.cs
  ISL.Providers.Storages.AzureBlobStorage/Models/Foundations/Files/Exceptions/AccessPolicyNotFoundStorageException.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/IStorageService.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/StorageService.Exceptions.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/StorageService.Validations.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/StorageService.cs
Labels: FOUNDATIONS, resolve conflicts

#46 FOUNDATIONS: AzureBlobStorage RetrieveAllAccessPolicies
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Exceptions.RetrieveAllAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Logic.RetrieveAllAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Validations.RetrieveAllAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/IStorageService.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/StorageService.Exceptions.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/StorageService.cs
Labels: FOUNDATIONS

#47 PROVIDERS: AzureBlobStorage RetrieveAccessPolicyByName
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.RetrieveAccessPolicyByNameAsync.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Logic.RetrieveAccessPolicyByName.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.cs
  ISL.Providers.Storages.Abstractions/IStorageOperations.cs
  ISL.Providers.Storages.Abstractions/StorageAbstractionProvider.cs
  ISL.Providers.Storages.Abstractions/StrogareAbstractionProvider.Exceptions.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Exceptions.RetrieveAccessPolicyByName.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Logic.RetrieveAccessPolicyByName.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.cs
  ISL.Providers.Storages.AzureBlobStorage/Providers/AzureBlobStorage/AzureBlobStorageProvider.cs
Labels: PROVIDERS

#49 PROVIDERS: Azure StorageAbstractionProvder RetrieveAllContainers
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.RetrieveAllContainers.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Logic.RetrieveAllContainers.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.cs
  ISL.Providers.Storages.Abstractions/StorageAbstractionProvider.cs
Labels: PROVIDERS

#50 PROVIDERS: Azure StorageAbstractionProvider DeleteContainer
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.DeleteContainer.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Logic.DeleteContainer.cs
  ISL.Providers.Storages.Abstractions/StorageAbstractionProvider.cs
Labels: PROVIDERS

#52 FOUNDATIONS: AzureBlobStorage RemoveAccessPolicyByName
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.RemoveAllAccessPoliciesAsync.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Logic.RemoveAllAccessPoliciesAsync.cs
  ISL.Providers.Storages.Abstractions/IStorageOperations.cs
  ISL.Providers.Storages.Abstractions/StorageAbstractionProvider.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.RemoveAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Exceptions.RemoveAllAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Logic.RemoveAllAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Exceptions.RemoveAccessPolicyByName.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Exceptions.RemoveAllAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Logic.RemoveAccessPolicyByName.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Logic.RemoveAllAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Validations.RemoveAccessPolicyByName.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Validations.RemoveAllAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage/Brokers/Storages/Blobs/BlobStorageBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/Brokers/Storages/Blobs/IBlobStorageBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/Providers/AzureBlobStorage/AzureBlobStorageProvider.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/IStorageService.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/StorageService.Exceptions.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/StorageService.Validations.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/StorageService.cs
Labels: FOUNDATIONS

#55 ACCEPTANCE: AzureBlobStorage Remaining container and access policy tests
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.CreateFolder.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.DeleteContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.RemoveAccessPolicyByName.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.RemoveAllAccessPolicies.cs
Labels: ACCEPTANCE

#54 ACCEPTANCE: AzureBlobStorage CreateDirectorySasToken
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.CreateDirectorySasTokenAsync.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Logic.CreateDirectorySasTokenAsync.cs
  ISL.Providers.Storages.Abstractions/IStorageOperations.cs
  ISL.Providers.Storages.Abstractions/StorageAbstractionProvider.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.CreateDirectorySasToken.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Exceptions.CreateDirectorySasToken.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Logic.CreateDirectorySasToken.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Exceptions.CreateDirectorySasToken.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Logic.CreateAndAssignAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Logic.CreateDirectorySasToken.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Validations.CreateAndAssignAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Validations.CreateDirectorySasToken.cs
  ISL.Providers.Storages.AzureBlobStorage/Brokers/Storages/Blobs/BlobStorageBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/Brokers/Storages/Blobs/IBlobStorageBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/Providers/AzureBlobStorage/AzureBlobStorageProvider.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/IStorageService.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/StorageService.Validations.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/StorageService.cs
Labels: ACCEPTANCE

#56 ACCEPTANCE: AzureBlobStorage GetDownloadLink
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/AzureBlobStorageProviderTests.GetDownloadLink.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Exceptions.GetDownloadLink.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Storages/StorageTests.Logic.GetDownloadLink.cs
  ISL.Providers.Storages.AzureBlobStorage/Brokers/Storages/Blobs/BlobStorageBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/Brokers/Storages/Blobs/IBlobStorageBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Storages/StorageService.cs
Labels: ACCEPTANCE

#59 RELEASES: v1.0.0.0
  ISL.Providers.Storages.Abstractions.Tests.Unit/ISL.Providers.Storages.Abstractions.Tests.Unit.csproj
  ISL.Providers.Storages.Abstractions/ISL.Providers.Storages.Abstractions.csproj
  ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance/ISL.Providers.Storages.AzureBlobStorage.Tests.Acceptance.csproj
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/ISL.Providers.Storages.AzureBlobStorage.Tests.Unit.csproj
  ISL.Providers.Storages.AzureBlobStorage/ISL.Providers.Storages.AzureBlobStorage.csproj
Labels: RELEASES

#60 RELEASES: v1.0.0.1
  .github/workflows/build.yml
  ISL.Providers.Storages.Abstractions.Tests.Acceptance/ISL.Providers.Storages.Abstractions.Tests.Acceptance.csproj
  ISL.Providers.Storages.Abstractions/ISL.Providers.Storages.Abstractions.csproj
  ISL.Providers.Storages.AzureBlobStorage/ISL.Providers.Storages.AzureBlobStorage.csproj
  ISL.Providers.Storages.DiskStorage.Tests.Acceptance/ISL.Providers.Storages.DiskStorage.Tests.Acceptance.csproj
  ISL.Providers.Storages.DiskStorage.Tests.Unit/ISL.Providers.Storages.DiskStorage.Tests.Unit.csproj
  ISL.Providers.Storages.DiskStorage/ISL.Providers.Storages.DiskStorage.csproj
  ISL.Providers.Storages.Infrastructure/ISL.Providers.Storages.Infrastructure.csproj
  ISL.Providers.Storages.Infrastructure/Services/ScriptGenerationService.cs
  ISL.Providers.Storages.sln
Labels: RELEASES

#61 CODE RUB: Fixed model and updated validation script
  .github/workflows/validatepr.yml
  ISL.Providers.Storages.AzureBlobStorage/Models/AzureBlobStoreConfigurations.cs
Labels: CODE RUB

#62 RELEASES: v1.0.0.2
  ISL.Providers.Storages.Abstractions/ISL.Providers.Storages.Abstractions.csproj
  ISL.Providers.Storages.AzureBlobStorage/ISL.Providers.Storages.AzureBlobStorage.csproj
Labels: RELEASES
