Repository NHSISL/ISL.Providers.Storages, pull requests merged in 2024-11, with the labels that each got.

#10 FOUNDATIONS: Storage Service CreateAndAssignAccessPolicies
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/ISL.Providers.Storages.AzureBlobStorage.Tests.Unit.csproj
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Exceptions.CreateAndAssignAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.ConvertPolicyNameToPermissions.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.CreateAndAssignAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Validations.CreateAndAssignAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.cs
  ISL.Providers.Storages.AzureBlobStorage/Brokers/DateTimes/DateTimeBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/Brokers/DateTimes/IDateTimeBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/Brokers/Storages/Blobs/BlobStorageBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/Brokers/Storages/Blobs/IBlobStorageBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/Models/AzureBlobStoreConfigurations.cs
  ISL.Providers.Storages.AzureBlobStorage/Models/Foundations/Files/Exceptions/InvalidPolicyNameStorageException.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Files/IStorageService.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Files/StorageService.Exceptions.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Files/StorageService.Validations.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Files/StorageService.cs
Labels: FOUNDATIONS

#11 FOUNDATIONS: Storage Service RemoveAccessPolicies
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Exceptions.RemoveAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.RemoveAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Validations.RemoveAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Files/IStorageService.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Files/StorageService.Validations.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Files/StorageService.cs
Labels: FOUNDATIONS

#12 FOUNDATIONS: Storage RetrieveAllAccessPoliciesFromContainer
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Exceptions.RetrieveAllAccessPoliciesFromContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.RetrieveAllAccessPoliciesFromContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Validations.RetrieveAllAccessPoliciesFromContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Files/IStorageService.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Files/StorageService.Validations.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Files/StorageService.cs
Labels: FOUNDATIONS

#15 PROVIDERS: AzureBlobStorage InsertFile
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Exceptions.CreateFile.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Logic.CreateFile.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.cs
  ISL.Providers.Storages.AzureBlobStorage/ISL.Providers.Storages.AzureBlobStorage.csproj
  ISL.Providers.Storages.AzureBlobStorage/Models/Providers/Exceptions/AzureBlobStorageProviderDependencyException.cs
  ISL.Providers.Storages.AzureBlobStorage/Models/Providers/Exceptions/AzureBlobStorageProviderDependencyValidationException.cs
  ISL.Providers.Storages.AzureBlobStorage/Models/Providers/Exceptions/AzureBlobStorageProviderServiceException.cs
  ISL.Providers.Storages.AzureBlobStorage/Models/Providers/Exceptions/AzureBlobStorageProviderValidationException.cs
  ISL.Providers.Storages.AzureBlobStorage/Providers/AzureBlobStorage/AzureBlobStorageProvider.cs
  ISL.Providers.Storages.AzureBlobStorage/Providers/AzureBlobStorage/IAzureBlobStorageProvider.cs
Labels: PROVIDERS

#16 PROVIDERS: AzureBlobStorage RetrieveFile
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Exceptions.RetrieveFile.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Logic.RetrieveFile.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.cs
  ISL.Providers.Storages.AzureBlobStorage/Providers/AzureBlobStorage/AzureBlobStorageProvider.cs
Labels: PROVIDERS

#20 PROVIDERS: AzureBlobStorage ListFilesInContainer
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.ListContainer.cs
  ISL.Providers.Storages.Abstractions/IStorageOperations.cs
  ISL.Providers.Storages.Abstractions/StorageAbstractionProvider.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Logic.ListFilesInContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTestsExceptions.ListFilesInContainer.cs
  ISL.Providers.Storages.AzureBlobStorage/Providers/AzureBlobStorage/AzureBlobStorageProvider.cs
Labels: PROVIDERS

#24 PROVIDERS: AzureBlobstorage RemovePoliciesFromContainer
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Exceptions.RemoveAccessPoliciesFromContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Logic.RemoveAccessPoliciesFromContainer.cs
  ISL.Providers.Storages.AzureBlobStorage/Providers/AzureBlobStorage/AzureBlobStorageProvider.cs
Labels: PROVIDERS

#26 PROVIDERS: StorageAbstraction - CreateFolderInContainer
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.CreateFolderInContainer.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Logic.CreateFolderInContainer.cs
  ISL.Providers.Storages.Abstractions/IStorageOperations.cs
  ISL.Providers.Storages.Abstractions/StorageAbstractionProvider.cs
  ISL.Providers.Storages.AzureBlobStorage/Providers/AzureBlobStorage/AzureBlobStorageProvider.cs
Labels: PROVIDERS

#28 PROVIDERS: AzureBlobStorage - RetrieveAllAccessPoliciesFromContainerAsync
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Exceptions.RetrieveAllAccessPoliciesFromContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Logic.RetrieveAllAccessPoliciesFromContainer.cs
  ISL.Providers.Storages.AzureBlobStorage/Providers/AzureBlobStorage/AzureBlobStorageProvider.cs
Labels: PROVIDERS

#29 PROVIDERS: StorageAbstraction - CreateDirectorySasToken
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.CreateDirectorySasTokenAsync.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Logic.CreateDirectorySasTokenAsync.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.cs
  ISL.Providers.Storages.Abstractions/StorageAbstractionProvider.cs
Labels: PROVIDERS

#30 PROVIDERS: StorageAbstraction - RetrieveAllAccessPoliciesFromContainer
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.RetrieveAllAccessPoliciesFromContainerAsync.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Logic.RetrieveAllAccessPoliciesFromContainerAsync.cs
  ISL.Providers.Storages.Abstractions/IStorageOperations.cs
  ISL.Providers.Storages.Abstractions/StorageAbstractionProvider.cs
  ISL.Providers.Storages.AzureBlobStorage/Providers/AzureBlobStorage/AzureBlobStorageProvider.cs
Labels: PROVIDERS

#27 PROVIDERS: AzureBlobStorage CreateFolderInContainer
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Exceptions.CreateFolder.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Providers/AzureBlobStorage/AzureBlobStorageTests.Logic.CreateFolder.cs
  ISL.Providers.Storages.AzureBlobStorage/Providers/AzureBlobStorage/AzureBlobStorageProvider.cs
Labels: PROVIDERS

#32 CODE RUB: Storage Abstraction Provider
  ISL.Providers.Storages.Abstractions.Tests.Unit/Models/Exceptions/SomeStorageDependencyValidationException.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.CreateAndAssignAccessPoliciesToContainerAsync.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.CreateDirectorySasTokenAsync.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.CreateFile.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.CreateFolderInContainer.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.DeleteFile.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.GetAccessToken.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.GetDownloadLink.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.ListContainer.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.RemoveAccessPoliciesFromContainerAsync.cs
  ISL.Providers.Storages.Abstractions.Tests.Unit/StorageAbstractionProviderTests.Exceptions.RetrieveAllAccessPoliciesFromContainerAsync.cs
  ISL.Providers.Storages.Abstractions/ISL.Providers.Storages.Abstractions.csproj
  ISL.Providers.Storages.Abstractions/Models/Exceptions/IStorageProviderDependencyValidationException.cs
  ISL.Providers.Storages.Abstractions/Models/Exceptions/StorageProviderDependencyValidationException.cs
  ISL.Providers.Storages.Abstractions/StorageAbstractionProvider.cs
  ISL.Providers.Storages.Abstractions/StrogareAbstractionProvider.Exceptions.cs
  ISL.Providers.Storages.AzureBlobStorage/ISL.Providers.Storages.AzureBlobStorage.csproj
Labels: CODE RUB

#31 FOUNDATIONS: Storage Refactor move logic to BlobStorageBroker
  ISL.Providers.Storages.Abstractions/IStorageOperations.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Exceptions.CreateAndAssignAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Exceptions.CreateContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Exceptions.CreateDirectory.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Exceptions.CreateDirectorySasToken.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Exceptions.CreateFile.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Exceptions.DeleteFile.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Exceptions.GetDownloadLink.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Exceptions.ListFilesInContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Exceptions.RemoveAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Exceptions.RetrieveAllAccessPoliciesFromContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Exceptions.RetrieveFile.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.CreateAndAssignAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.CreateContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.CreateDirectory.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.CreateDirectorySasToken.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.CreateFile.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.DeleteFile.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.GetDownloadLink.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.ListFilesInContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.RemoveAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.RetrieveAllAccessPoliciesFromContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Logic.RetrieveFile.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Validations.CreateAndAssignAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Validations.CreateContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Validations.CreateDirectory.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Validations.CreateDirectorySasToken.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Validations.CreateFile.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Validations.DeleteFile.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Validations.GetDownloadLink.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Validations.ListFilesInContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Validations.RemoveAccessPolicies.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Validations.RetrieveAllAccessPoliciesFromContainer.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.Validations.RetrieveFile.cs
  ISL.Providers.Storages.AzureBlobStorage.Tests.Unit/Services/Foundations/Files/StorageTests.cs
  ISL.Providers.Storages.AzureBlobStorage/Brokers/Storages/Blobs/BlobStorageBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/Brokers/Storages/Blobs/IBlobStorageBroker.cs
  ISL.Providers.Storages.AzureBlobStorage/Services/Foundations/Files/StorageService.cs
Labels: FOUNDATIONS
